Albums Page

<div>

  <ul>
    <li *ngFor="let album of albums" (mouseenter)="mouseEnter(album.albumId)"  (mouseleave)="mouseLeave(album.albumId)" (click)="mouseClick(album.albumId)">{{album.albumId}} - {{album.ArtistName}}</li>
  </ul>
</div>

<div class="details">{{albumsDetails}}</div>
